<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Заказ на склад</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>

<body>

<div class="container" style="text-align: center">
  <h3>Заказать: </h3>
  <h3 th:text="*{name}" th:object="${product}"></h3>

  <hr/>
  <form class="form-group" action="#" th:action="@{/categories/product/{catId}/stockOrder/{id}(id=${product.id}, catId=${product.category})}" th:object="${product}" method="post">

    <div class="form-row">
      <label for="count">Количество</label>
      <input type="text" class="form-control" th:field="*{count}" id="count">
      <span th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></span>
    </div>

    <br>
    <div class="form-row">
      <input class="btn btn-success" type="submit" value="Заказать">
    </div>
    <p><a href="/">Домой</a></p>
  </form>
</div>

</body>

</html>